.card {
  position: relative;
  border: 1px solid var(--border);
  height: 15rem;
  padding: 1rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.card:hover {
  filter: drop-shadow(0 0 2rem #646cffaa);
}

.card .card-title {
  display: flex;
  place-items: center;
  height: calc(100% - 4rem);
  width: 100%;
}

.card .card-title h2 {
  width: 100%;
}

.card .card-header {
  display: flex;
  place-items: center;
  padding: 0 1rem;
  height: 2.5rem;
}

.card .card-header label {
  /* margin-left: 2rem; */
  max-width: 75%;
  font-size: 0.75rem;
}

.card .card-header .retry {
  background: none;
  min-width: 2.5rem;
  height: 2.5rem;
  padding: 0rem;
  margin-right: -1rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.description {
  padding: 2rem;
}
